<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/jpas/css/main.css" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.1/pure-min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page"><br>
            <a href="/jpas/index.html">Home</a><br>
            <div id="title">
                <h2></h2>
            </div>
            <div id="releaseDate">
                <h2></h2>
            </div>   
            <div id="memory">
                <h2></h2>
            </div>    

            <div id="processor">
                <label>Processor: </label>
                <span></span>
            </div> 

            <div id="display">
                <label>Display: </label>
                <span></span>
            </div> 
            <div id="battery">
                <label>Battery: </label>
                <span></span>
            </div> 
            <div id="camera">
                <label>Camera: </label>
                <span></span>
            </div> 
            <div id="os">
                <label>OS: </label>
                <span></span>
            </div> 
            
            <div style="height: 800px;"></div>

        </div>

    </body>
</html>

